h1{
    color:#990088;
    font-size:500%;
    
}

#header{
    position:relative;
    height:100vh;
}
#video-area{
    position:fixed;
    z-index:-1;
    top:0;
    right:0;
    left:0;
    bottom:0;
    overflow:hidden;
}
#video{
    position:absolute;
    z-index:-1;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:177.7777777vh;
    height:56.25vw;
    min-height:100%;
    min-width:100%;
}

ul.menu{
    margin:0px;
    padding:0px 0px 0px 15px;
    background-color: #38c718;
}

ul.menu li{
    width:125px; /*メニュー項目の横幅*/
    display:inline-block; /*横並びに配置*/
    list-style-type:none;
    position:relative;
}

ul.menu a{
    background-color:#cc0000;
    color:white;
    line-height:40px;
    text-align:center;
    text-decoration:nonel
    font-weight bold;
    display:block;
}

ul.menu ul{
    display:none;
    margin:0px;
    padding:0px;
    position:absolute;

}

ul.menu a:hover{
    background-color:#ffdddd;
    color:#dd0000;
}

ul.menu li:hover ul{
    display:block;
}
.bg::before{
    content:'';
    background-color:rgba(0,0,0,0.7);
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;

}