@charset "utf-8";
header{
    height: 115px;
    width: 100%;
    background-color:#ffffff;
    z-index:-1;
    margin:5px;
}
header h1{
    color:#1505ff;
    font-size:15px;
    margin-left:30px;
}
main h1{
    color:rgb(73, 180, 121);
    text-align:center;
    font-family:Book Antiqua;
    font-size:300%;
    margin:10px;
}
h3{
    color:rgb(47, 255, 0);
    text-align:center;
    font-size:18px;
    font-family:sans-serif;
    font-weight:bold;
    margin-top:40px;
    
}


main{
    height: 550px;
    width: 1280px;
    background-color: #000000;
    float: left;
    margin-top:100px;
    height:100%;
    margin-left: 10%;
}


.first{
    font-size:300%;
    color:yellow;
    font-family:Yu mincho;
    
}

#video-area{
    position:fixed;
    z-index:-1;
    top:0;
    right:0;
    left:0;
    bottom:0;
    overflow:hidden;
}
#video{
    position:absolute;
    z-index:-2;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:177.7777777vh;
    height:56.25vw;
    min-height:100%;
    min-width:100%;
}

.big_box{
    height:125%;
    width:125%;
    float:center;
}

ul.menu{
    margin:5px;
    padding:0px 0px 0px 5px;
    background-color:#211c27;
    z-index:-1;
    
}

ul.menu li{
    width:450px;;
    display:inline-block; /*横並びに配置*/
    list-style-type:none;
    position:relative;
}

ul.menu a{
    background-color:#211c27;
    color:rgb(255, 255, 255);
    line-height:40px;
    text-align:center;
    text-decoration:none;
    font-weight:bold;
    display:block;
    z-index:1;
    font-family:Yu mincho;
    
}

ul.menu ul{
    display:none;
    margin:0px;
    padding:0px;
    position:relative;
    

}

ul.menu a:hover{
    background-color:#5ac0df;
    color:#000000;
    
}

ul.menu li:hover ul{
    display:inline-block;
    position:absolute;
    
}
.bg::before{
    content:'';
    background-color:rgba(0,0,0,0.5);
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    

}
.itiran {
    height: 150px;;
    width: 150px;
    
    margin:0px;
    margin-inline-start: 15px;
    float: left;
    /*border: thick solid #48EF41;*/
}
.white{
    color:white;
    font-size:22px;
    margin-top:-10px;
    text-align:center;
}
.white2{
    color:white;
    font-size:33px;
    text-align:center;
    margin-top:-15px;
}
.sinamei{
    height:300px;
    text-align:center;
}
.article1{
    height: 500px;
    width: 40%;
    background-color: #211c27;
    margin-top: 2%;
    margin-left: 2%;
    float:left;
}
.article2{
    height: 500px;
    width: 55%;
    background-color: #211c27;
    margin-top: 2%;
    float:right;
    margin-right:2%;
  
}

.corse{
    color:#52bd7e;
    font-size:30px;
    margin-right:1px;
}
h2{
    margin-right:13px;
}


main p{
    font-family:Yu mincho;
    text-align:left;
    font-size:18px;
}


footer {
    height: 70px;
    width: 810px;
    color:#ffffff;
    float:left;
}
.footer-box{
    height:125%;
    width:125%;
    float:center;
}
.img{
    float:center;
    
    margin-top:-30px;
    width:100px ;
    height:100px;
}
.img2{
    float:center;
    width:150px;
    height:150px;
    margin-top:-10px;
    margin-left:15px;

}